.cell {
  height: 4vh;
  border: solid black 1px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.pawn {
  border: solid black 2px;
  height: 3vh;
  width: 2vh;
  border-radius: 50%;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.App {
  display: grid;
  grid-template-areas:
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . .";
}
