.cell {
  height: 4vh;
}
.App {
  display: grid;
  grid-template-areas:
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . . .";
}
